django==5.1.6
psycopg==3.2.5
psycopg-binary==3.2.5
django-redis==5.4.0
django-cleanup==9.0.0
django-alive==2.0.0
django-localeurl==2.0.2
whitenoise==6.8.2
pandas==2.2.3
django-storages[azure]==1.14.4
azure-identity==1.19.0
azure-core==1.32.0

black==25.1.0
isort==5.13.2
python-dotenv==1.0.1
